@using System.Web.Optimization
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/bootstrap")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="VtlU6h5ocCn-dEIU4w_r28cw_X3H_pT7isBlCaqA4ZE" />
    <title>André N. Klingsheim</title>
    @if (!Request.Url.Host.Equals("www.klings.org"))
    {
        <meta name="robots" content="noindex,nofollow" />
    }
    else
    {
        @Html.Partial("~/Views/Home/Analytics.cshtml")
    }
</head>
<body style="padding: 60px">
    <div class="container">

        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="#Home">Home</a></li>
                        <li><a href="#Projects">Projects</a></li>
                        <li><a href="#Talks">Talks</a></li>
                        <li><a href="#Research">Research</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.navbar -->
    </div>

    <div id="Home" class="row-fluid">
        <div class="span9" itemscope itemtype="http://data-vocabulary.org/Person">
            <div class="hero-unit">
                <h1><span itemprop="name">André N. Klingsheim</span></h1>
                For those wondering what I've been up to lately.    
            </div>
            <div>
                <p>
                    The last couple of years I've been working in the financial sector as a <span itemprop="role">security architect</span>,
                    mostly concerned with
                    development of ASP.NET applications. In addition to my day to day development chores I'm also maintaining two open source
                    projects. To keep an eye on what I'm up to these days you should find me on Twitter: <a href="https://twitter.com/klingsen" itemprop="url">@@klingsen</a>.
                    You'll find that I'm less active on other social networks such as: <a href="https://plus.google.com/101442994316646426049?rel=author" itemprop="url">Google+</a> and
                    <a href="https://www.linkedin.com/in/klingsheim" itemprop="url">LinkedIn</a>.
                </p>
                <p>
                    You can also reach me by e-mail, try my <strong>klingsen</strong> Gmail for private matters or <strong>klings</strong>
                    at appsec (dot) no if it's work related.
                </p>
                <p>
                    I occasionally post something to my <a href="http://www.dotnetnoob.com/" itemprop="url">blog</a>, here's my latest ramblings:
                </p>
                <div class="well">
                    <script src="http://feeds.feedburner.com/ThedotNetNoob?format=sigpro" type="text/javascript"></script>
                    <noscript>
                        <p>
                            Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/ThedotNetNoob"></a>
                            <br />
                            Powered by FeedBurner
                        </p>
                    </noscript>
                </div>
            </div>
            <meta itemprop="url" content="http://nwebsec.codeplex.com" />
            <meta itemprop="url" content="http://www.nwebsec.com" />
            <meta itemprop="url" content="http://transformtool.codeplex.com" />
            <meta itemprop="organization" content="AppSec AS" />
        </div>
        <div class="span3 hidden-phone">
            <a class="twitter-timeline" href="https://twitter.com/klingsen" data-widget-id="315908770289041409">Tweets by @@klingsen</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
    <hr />
    <div id="Projects" class="row-fluid">
        @Html.Partial("~/Views/Home/Projects.cshtml")
    </div>
    <hr />
    <div id="Talks" class="row-fluid">
        @Html.Partial("~/Views/Home/Talks.cshtml")
    </div>
    <hr />
    <div id="Research" class="row-fluid">
        @Html.Partial("~/Views/Home/Research.cshtml")
    </div>
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner text-center">
            <p class="navbar-text">
                &copy; @DateTime.UtcNow.Year - André N. Klingsheim
            </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
